
.order-details-content {
  margin-bottom: 120px; 
}

body.order-page footer,
body.order-page .footer {
  position: relative !important;
  bottom: auto !important;
}

body.order-page .content-wrapper {
  flex: 1 0 auto;
  min-height: calc(100vh - 200px);

.view-order-page .container.py-4 {
  margin-bottom: 100px;
}
